:root[data-theme="light"] {
  --background: #ffffff;
  --primary: #4d54a3;
  --text-primary: #07141d;
  --secondary: #abbcc8;
  --text-secondary: #07141d;
  --accent: #b15f06;
  --text-accent: #030101;
}
:root[data-theme="dark"] {
  --background: #000000;
  --primary: #5c63b2;
  --text-primary: #e2eff8;
  --secondary: #093f63;
  --text-secondary: #e2eff8;
  --accent: #f9a64e;
  --text-accent: #07141d;
}


[data-theme='light'] .d-block-light,
[data-theme='dark'] .d-block-dark {
  display: block !important;
}


body {
  background-color: var(--background);
  color: var(--text-primary);
  margin: 0;
}

.d-none {
  display: none !important;
}

.d-flex {
  display: flex;
  align-items: center;
}

.navbar {
  border: 1px solid black;
  display: flex;
  align-items: center;
}

.navbar-1 {
  background-color: var(--primary);
  color: var(--text-primary);
}

.navbar-2 {
  background-color: var(--secondary);
  color: var(--text-secondary);
}

.navbar-brand {
  color: var(--text-primary);
}

.navbar-nav {
  list-style: none;
  align-items: center;
  margin-left: auto;
}

.navbar-nav .dropdown-menu {
  background-color: var(--primary);
  color: var(--text-primary);
}

.navbar-nav .dropdown {
  padding: 0px;
}

.nav-links {
  display: flex;
  align-items: center;
}

.navbar-nav li {
  display: inline-block;
  align-items: center;
}

.navbar-nav a {
  color: var(--text-primary);
  font-weight: bold;
  font-size: 13px;
  padding: 10px 15px;
  text-decoration: none;
}

.form-control {
  background-color: var(--accent);
  color: var(--text-accent);
}

.btn-secondary {
  background-color: var(--accent);
  color: var(--text-primary);
}

.dropdown-menu {
  display: none;
  text-align: center;
  position: absolute;
  background-color: var(--primary);
  min-width: 90px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu a {
  color: var(--text-primary);
  padding: 10px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-menu a:hover {
  background-color: #f1f1f1;
}



footer {
  background-color: var(--secondary); /* Couleur de fond */
  color: var(--text-primary); /* Couleur du texte */
  padding: 20px; /* Espace intérieur */
  text-align: center; /* Centrer le texte */
  position: fixed; /* Fixer en bas de la page */
  bottom: 0; /* Aligner en bas */
  width: 100%; /* Prendre toute la largeur */
}

.footer-links {
  list-style: none; /* Supprimer les points */
  padding: 0; /* Supprimer les marges */
  margin: 0; /* Supprimer les marges */
}

/* Style pour le lien dans le pied de page (si nécessaire) */
footer a {
  margin: 0 5px 0 5px; /* Espace entre les liens*/ ;
  color: var(--text-primary); /* Couleur du lien */
  text-decoration: none; /* Supprimer la soulignement du lien */
}

footer a:hover {
  text-decoration: underline; /* Ajouter une soulignement au survol du lien */
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.form-container {
  background-color: var(--primary);
  border: 15px solid var(--secondary);
  border-radius: 20px;
  width: 500px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}


form div {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 83px;
  margin-top: 15px;
  align-items: center;
}

form div > label {
  margin-bottom: 7px;
  font-weight: 600;
}

form div > input, form div > select, form div > textarea {
  background: var(--secondary);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  font-family: Montserrat, "sans-serif";
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.25);
}

form div > input, form div > select {
  height: 45px;
  width: 290px;
  padding-left: 10px;
}

form div > select {
  appearance: none;
  background-size: 15px;
  background-position: right 10px top 50%;
  background-repeat: no-repeat;
}

form div > textarea {
  height: 195px;
  padding: 15px 0px 0px 10px;
  width: 340px;
}

form div > input::placeholder, form div > textarea::placeholder {
color: var(--secondary);
}

form div > select:invalid {
color: var(--secondary);
}

form div > select option {
background: var(--secondary);
color: var(--text-secondary);
}

form div:last-child {
align-items:center;
margin-top: 20px;
}

form button {
width: 450px;
max-width: 500px;
height: 60px;
font-weight: 700;
font-size: 28px;
background: var(--secondary);
border: var(--primary) solid 1px;
border-radius: 5px;
box-shadow: 0px 4px 4px 0px var(--accent);
color: #303030;
}
